{% extends 'base.html' %}
{% load static %}

{% block title %}
	Kalit so'z yangilandi
{% endblock title %}

{% block content %}
    <div class="card mx-auto" style="width: 18rem; justify-content: center">
        <img src="{% static 'assets/img/password_reset_complete.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kalit so'z yangilandi!</h5>
            <p class="card-text">Yangi kalit so'z bilan saytga kirishingiz mumkin!</p>
            <a href="{% url 'login' %}" class="btn btn-primary stretched-link">Saytga kirish</a>
        </div>
    </div>
{% endblock %}]