{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Kalit so'z o'zgartirildi!{% endblock title %}

{% block content %}
    <div class="card mx-auto" style="width: 18rem; justify-content: center">
        <img src="{% static 'assets/img/password_reset_complete.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center">Kalit so'z yangilandi!</h5>
            <p class="card-text" style="text-align: center">Yangi kalit so'z bilan saytga qaytadan kiring!</p>
            <a href="{% url 'login' %}" class="btn btn-primary stretched-link">Saytga kirish</a>
        </div>
    </div>
{% endblock content %}